# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

List popular languages for Data Science
* List popular languages for Data Science
* List commenly used libraries in Data Science
* Evaluate arithmetic expressions in Python
* Create a single column table using pythin markdown

Some of the popular languages that Data Scientists use are
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:

    1.NumPy
    2.Pandas
    3.Scikit-learn

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [57]:
# This a simple arithmetic expression to mutiply then add integers
x=(3*4)+5
x

17

In [69]:
# This will convert 200 minutes to hours by diving by 60
x=200
y=60
z=x/y
print (z)
g= round(z,2)
print(g)

3.3333333333333335
3.33

## Author
Vishal C R